:host {
  display: block;
}

.inactive {
  border: 1px solid #ccc;
}

.marked {
  border: 2px solid darkblue;
  animation: marked 0.5s ease-out forwards;
}

button {
  margin-bottom: 5px;
}

@keyframes marked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.progress {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  margin: auto;
  box-sizing: content-box;
}

.progress-bar {
  width: 0;
  height: 20px;
  animation: loading 1s ease-out infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
